<div *ngIf="loading">
	<span>Loading...</span>
</div>

<div *ngIf="!loading">
	<!-- CART STATE -->
	<div>
		<span *ngIf="cartState === cartStates.NOT_LOGGED">No se inició sesión</span>
		<span *ngIf="cartState === cartStates.LOGGED">Sesión iniciada</span>
	</div>

	<!-- LOGIN (JUST FOR TEST) -->
	<button *ngIf="cartState === cartStates.NOT_LOGGED" (click)="onLogin()">LOGIN</button>

	<!-- CART CARDS -->
	<div *ngIf="cartState === cartStates.LOGGED">
		<h1>Crear Tarjeta</h1>
		<form [formGroup]="cardForm" (submit)="onAddCard()">
			<fieldset>
				<ul>
					<li>
						<label for="email">Email</label>
						<input formControlName="email" type="email" />
					</li>
					<li>
						<label for="cardNumber">Credit card number:</label>
						<input 
							(change)="onCardNumberChange()"
							formControlName="cardNumber" 
							type="text" />
						<span>PAYMENT METHOD: {{ cardPaymentMethod }} </span>
					</li>
					<li>
						<label for="securityCode">Security code:</label>
						<input formControlName="securityCode" type="text" />
					</li>
					<li>
						<label for="cardExpirationMonth">Expiration month:</label>
						<input formControlName="cardExpirationMonth" type="text" />
					</li>
					<li>
						<label for="cardExpirationYear">Expiration year:</label>
						<input formControlName="cardExpirationYear" type="text" />
					</li>
					<li>
						<label for="cardholderName">Card holder name:</label>
						<input formControlName="cardholderName" type="text" />
					</li>
					<li>
						<label for="docType">Document type:</label>
						<select formControlName="docType">
							<option
								*ngFor="let identificationType of identificationTypes" 
								[value]="identificationType.id">{{ identificationType.name }}</option>
						</select>
					</li>
					<li>
						<label for="docNumber">Document number:</label>
						<input formControlName="docNumber" type="text" />
					</li>
				</ul>
				<input 
					[disabled]="!cardPaymentMethod"
					type="submit" 
					value="Add card" />
			</fieldset>
		</form>

		<!-- CREAR y PAGAR ORDEN -->
		<h1>Pagar orden con: </h1>
		<form [formGroup]="payForm" (submit)="onPay()">

			<!-- Payment methods -->
			<label>Payment methods: </label><br />
			<input 
				formControlName="paymentMethodType" 
				type="radio" 
				[value]="cardPaymentMethodType" 
				(change)="onChangePaymentMethod()"/> Card <br />
			<ng-container *ngFor="let paymentMethod of paymentMethods">
				<input 
					formControlName="paymentMethodType" 
					type="radio" 
					[value]="paymentMethod.id" 
					(change)="onChangePaymentMethod()"/> {{ paymentMethod.name }}<br />
			</ng-container>

			<!-- Cards -->
			<ng-container *ngIf="payForm.value.paymentMethodType === cardPaymentMethodType">
				<label>Cards: </label><br />
				<ng-container *ngFor="let card of cards">
					<input 
						formControlName="card" 
						type="radio" 
						(change)="onChangeCardSelected()"
						[value]="card.id" /> {{ card.id }} - {{ card.cardType }} -  {{ card.lastDigits }} ({{ card.expirationMonth }}/{{ card.expirationYear}})<br />
				</ng-container>
	
				<label>Cuotas</label><br />
				<select formControlName="installments">
					<option *ngFor="let i of installments" [value]="i.installments">{{ i.installments }}</option>
				</select><br />

				<label>CVV</label><br />
				<input type="text" formControlName="cvv" /><br />
			</ng-container>

			<input 
				[disabled]="!payForm.valid"
				type="submit" 
				value="Pagar" />
		</form>
	</div>
</div>